:root {
        --00: #00000000;
        --01: #f9f9f9;
        --10: #eee;
        --20: #ddd;
        --25: #cfcfcf;
        --30: #bbb;
        --40: #999;
        --50: #777;
        --60: #666;
        --70: #444;
        --80: #333;
        --90: #222;
        --95: #111;
        --96: #0f0f0f;
        --97: #0e0e0e;
        --98: #0a0a0a;
        --99: #000;
}

[row] {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 24px;
}

[col] {
        display: flex;
        flex-direction: column;
}

::selection {
        background: var(--10);
        color: var(--90);
}

::-webkit-scrollbar {
        width: 10px;
        height: 10px;
}

::-webkit-scrollbar-thumb {
        background: var(--40);
        border: 3px solid var(--95);
        border-radius: 999px;
}

::-webkit-scrollbar-track {
        background: transparent;
}

nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 max(1.4rem, calc((100vw - 1200px) / 2));
        height: 82px;
}

article {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1.5rem;
}

article img {
        max-width: 100%;
        height: auto;
}

article p,
article>ul {
        opacity: 0.85;
}

code {
        font-size: 14px;
        color: #9ff;
        max-width: 100%;
        padding: 0.3rem;
        background: #ccffff18;
}