:root {
        --00: #00000000;
        --01: #f9f9f9;
        --10: #eee;
        --20: #ddd;
        --25: #cfcfcf;
        --30: #bbb;
        --40: #999;
        --50: #777;
        --60: #666;
        --70: #444;
        --80: #333;
        --90: #222;
        --95: #111;
        --96: #0f0f0f;
        --97: #0e0e0e;
        --98: #0a0a0a;
        --99: #000;
}

[c20] {
        color: var(--20);
}

[c25] {
        color: var(--25);
}

[row] {
        display: flex;
        flex-direction: row;
}

[col] {
        display: flex;
        flex-direction: column;
}

[nwrap] {
        flex-wrap: nowrap;
}

[center] {
        justify-content: center;
}

::selection {
        background: var(--10);
        color: var(--90);
}

::-webkit-scrollbar {
        width: 10px;
        height: 10px;
}

::-webkit-scrollbar-thumb {
        background: var(--40);
        border: 3px solid var(--95);
        border-radius: 999px;
}

::-webkit-scrollbar-track {
        background: transparent;
}

main,
nav {
        padding: 0 max(24px, calc((100vw - 1200px) / 2));
}

main {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 48px;
}

nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 82px;
}

aside {
        max-width: 280px;
        width: 100%;
        padding-left: 2px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
}

aside p {
        padding-top: 16px;
        margin: 0px;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
}

aside ul {
        padding: 0;
        margin: 0;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        color: var(--30);
        list-style: none;
}

aside li {
        display: flex;
        align-items: center;
        padding: 6px 14px;
        color: var(--30);
        cursor: pointer;
        transition: color 0.1s ease, background-color 0.12s ease;
        border-radius: 999px;
        transform: translateX(-10px);
        margin-right: 8px;
}

aside li::before {
        opacity: 50%;
        margin-right: 12px;
        content: url(/doc.svg);
        height: 18px;
}

aside li:hover {
        filter: brightness(1.2);
        color: var(--10);
        cursor: pointer;
        background-color: var(--90);
}

[gap0] {
        gap: 4px;
}

[gap1] {
        gap: 8px;
}

[gap11] {
        gap: 10px;
}

[gap2] {
        gap: 16px;
}

[gap3] {
        gap: 24px;
}

[m] {
        margin: 0;
}

[mt05] {
        margin-top: 2px;
}

[mt0] {
        margin-top: 4px;
}

[mt1] {
        margin-top: 8px;
}

[f2] {
        font-size: 16px;
}

[f3] {
        font-size: 18px;
}

[mobile] {
        display: none;
}


[desktop] {}

article {
        padding-top: 48px;
        position: relative;
        animation: fadein 0.6s ease-out
}

article::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        transform: translateX(-48px);
        background: radial-gradient(circle at -10% -10%, rgba(0, 255, 255, 0.2) 0%, #ff008c10 2000px, #00000000 3000px);
        z-index: -1;
        pointer-events: none;
        border-radius: 24px 0 0 0;
}

#menu {
        display: none;
}

[menu] {
        position: fixed;
        z-index: 4000;
        left: 0;
        bottom: 48px;
        cursor: pointer;
        font-size: 24px;
        color: var(--90);
        background: var(--10);
        padding: 16px;
        padding-left: 22px;
        width: 64px;
        user-select: none;
        border-radius: 0 99px 99px 0;
        transition: scale 0.05s ease;
}

[menu]:hover {
        scale: 1.2;
}

[menu]:active {
        scale: 1.1;
}

[menu_bg] {
        position: fixed;
        top: 0;
        width: 50%;
        height: 100%;
        left: 150px;
        background: radial-gradient(circle at 0% 30%, rgba(0, 255, 255, 0.30) 0%, #ff008c4b 100%, #00000000 3000px);
        filter: blur(100px);
        scale: 1.2;
        z-index: 100;
        opacity: 0.7;
}

@keyframes fadein {
        0% {
                scale: 0.99;
                opacity: 0;
        }

        to {
                opacity: 1;
        }
}


@media (max-width: 870px) {

        [mobile] {
                display: inherit;
        }

        [desktop] {
                display: none;
        }

        article {
                padding-top: 32px;
        }

        article::before {
                border-radius: 0px;
                left: 0;
                transform: translateX(-24px);
        }

        aside {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1000;
                background: linear-gradient(90deg, #161616 5%, rgba(0, 0, 0, 0.3) 170%);
                backdrop-filter: blur(8px);
                max-width: 300px;
                width: 100%;
                height: 100%;
                padding-left: 24px;
                padding-top: 25px;
                border-radius: 0 24px 24px 0;
                transform: translateX(-100%);
                transition: transform 0.2s ease;
        }

        aside [logo] p {
                padding: 0;
        }

        #menu:checked~aside {
                transform: translateX(0);
        }

        #menu:checked~[menu_bg] {
                opacity: 0.7;
                pointer-events: auto;
        }

        [menu_bg] {
                opacity: 0;
                transition: opacity 0.2s ease;
                pointer-events: none;
        }

}